@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Mads Riisom<br />
    Hans nye lejlighed 2TV, 5000 Odense C<br />
    <abbr title="Phone">Phone:</abbr>
    (+45) 60 12 64 55<br />
    <strong>Email:</strong> <a href="mailto:marii13@student.sdu.dk">marii13@student.sdu.dk</a><br />
</address>

<address>
    Henrik Bolding Frank<br />
    Skibhusvej 149 3TV, 5000 Odense C<br />
    <abbr title="Phone">Phone:</abbr>
    (+45) 20879203<br />
    <strong>Email:</strong> <a href="mailto:hefra13@student.sdu.dk">hefra13@student.sdu.dk</a><br />
</address>
